{% extends "dashboard/master.html" %}

{% block title %} Update {% endblock %}

{% block content %}
   {% include 'dashboard/utils/messages.html' %}

   <form action="" method="post" enctype="multipart/form-data">
      {% include 'dashboard/task/form.html'%}
   </form>

   {% if task.document: %}
      <div class="row">
         <div class="col col-sm-2">
            <h4>Documento:</h4>
         </div>
         <div class="col">
            {% with document=task.document%}
               {% include 'dashboard/documents/detail.html' %}
            {% endwith %}
         </div>
      </div>
   {% endif %}

   <div class="mt-2">
      <h4>Etiquetas</h4>
      {% include 'dashboard/task/tags/index.html' %}
   </div>

   {% include 'dashboard/task/tags/assign.html' %}
{% endblock %}