{% extends "dashboard/master.html" %}

{% block title %} Create {% endblock %}

{% block content %}
   <form action="" method="post" enctype="multipart/form-data">
      {% include 'dashboard/task/forms.html'%}
   </form>

   <h3>Documento: </h3>
   {% if task.document: %}
      {% with document=task.document%}
         {% include 'dashboard/documents/detail.html' %}
      {% endwith %}
   {% endif %}

   {%include 'dashboard/task/tags/index.html'%}
   {%include 'dashboard/task/tags/assign.html'%}
{% endblock %}