{% extends "master.html" %}

{% block title %} Register user {% endblock %}

{% block content %}
    {% include 'auth/utils/messages.html' %}
   <div class="container">
      <div class="card">
         <div class="card-body">
            <form action="" method="post">
               {{ frmRegister.userName.label(class="form-label") }}
               {{ frmRegister.userName(class="form-control") }}
               
               {{ frmRegister.firtsName.label(class="form-label")}}
               {{ frmRegister.firtsName(class="form-control")}}

               {{ frmRegister.secondName.label(class="form-label")}}
               {{ frmRegister.secondName(class="form-control")}}

               {{ frmRegister.email.label(class="form-label")}}
               {{ frmRegister.email(class="form-control")}}

               {{ frmRegister.password.label(class="form-label") }}
               {{ frmRegister.password(class="form-control") }}

               {{ frmRegister.confirmPswd.label(class="form-label") }}
               {{ frmRegister.confirmPswd(class="form-control") }}

               <button  class="btn btn-success" type="submit">Envia</button>

               {{ frmRegister.csrf_token }}
            </form>
         </div>
      </div>
   </div>
{% endblock %}